html {
  height: 100%;
}

body {
  background-color: #F8F8F8;
  background: -webkit-linear-gradient(90deg,#FAFAFA 10%,#F8F8F8 90%);
  background: linear-gradient(90deg,#FAFAFA 10%,#F8F8F8 90%);
  height: 100%;
}

#flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: calc(2vw);
    z-index: 2;
}

#flex-container2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#flex-item {
  margin: auto;
  height:calc(4vw + 50px);
  width:calc(20vw + 250px);
  border-color: #333333;
  border-style: solid;
  border-width: calc(0.15vw + 1.5px);
}

#flex-item2 {
  margin: auto;
  height:calc(8vw + 175px);
  width:calc(8vw + 175px);
  border-color: #707070;
  border-style: solid;
  border-width: calc(0.15vw + 1.5px);
  position: absolute;
  display: none;

}
#content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: calc(1.5vw + ((50px * 3) / 8));
  color: #333333;
  font-family: "Oswald", Arial, serif; font-weight: 400;
}
#content2 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: calc(1.5vw + ((50px * 3) / 8));
  color: #333333;
  font-family: "Oswald", Arial, serif; font-weight: 400;
  display: none;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
