/* --- Reset --- */
html { color: #000; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }

del, ins { text-decoration: none; }

li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: baseline; }

sub { vertical-align: baseline; }

legend { color: #000; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { *font-size: 100%; }

input[type=text] { border: none; }

/* --- Globals --- */
html { font-size: 16px; }

@media (min-width: 1650px) { html { font-size: 20px; } }

@media (min-width: 1250px) and (max-width: 1650px) { html { font-size: 18px; } }

@media (max-width: 500px) { html { font-size: 14px; } }

html { margin: 0; padding: 0; height: 100%; }

ul { margin: 0; padding: 0; margin: 0 0 1.25rem 1.563rem; }

ul li { list-style-type: circle; padding: 0 0 0.625rem 0.3125rem; }

ol { margin: 0; padding: 0; margin: 0 0 1.25rem 1.563rem; }

ol li { list-style-type: decimal; padding: 0 0 0.625rem 0; }

li { margin: 0; padding: 0; }

body { font-size: 0.875rem; line-height: 1.375rem; line-height: 100%; margin: 0; padding: 0; }

a { text-decoration: none;}

a:hover { text-decoration: none;  color: #FF6666;}

a img { border: none; vertical-align: top; }

.progress {
  background: linear-gradient(to right, #FF6666 var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 1;
  margin-top: -6.25rem;
}

@media (max-width: 720px) { .progress { margin-top: 0; } }

img.alignright { margin: 0.625rem 0 0 1.25rem; float: right; }

img.alignleft { margin: 0.625rem 1.25rem 0 0; float: left; }

img.aligncenter { clear: both; display: block; margin: 0 auto 0.625rem auto; }

.relative { position: relative; }

p { margin-bottom: 1.25rem; }

b { font-weight: bold; }

strong { font-weight: bold; }

.clear { clear: both; }

h4 { margin: 0 0 0.625rem 0; }

h5 { margin: 0 0 0.625rem 0; }

h6 { margin: 0 0 0.625rem 0; }

i { font-style: italic; }

em { font-style: italic; }

hr { border: none; border-bottom: 1px dotted; margin: 1.25rem 0; }

del { text-decoration: line-through; }

*:focus { outline: none; }

* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; -moz-font-feature-settings: "liga" on; margin: 0; }

.sticky, .gallery-caption, .bypostauthor, .screen-reader-text { display: default; }

.pagination { display: none; }

video, iframe { width: 100%; }

/* --- Fonts --- */
body { font-family: "Lora", Georgia, sans-serif; font-weight: 400; }

.post-title h1, .post-title h2, .post-content h2, .post-content h3, .post-content h4, .logo-name, .sidebar-widget-title, #search-term { font-family: "Oswald", Arial, serif; font-weight: 600; }

#pbd-alp-load-posts, #sidebar-name, .post-date, .return { font-family: "Oswald", Arial, serif; font-weight: 400; }

/* --- Colors --- */
body { background: #F8F8F8; }

a { color: #333; }

a:hover { color: #FF6666; }

#content .post-date, #content .post-date a, .return a { color: #999; }, .return a:hover { color: #FF6666; }

#content .post-title h1, #content .post-title h1 a, #content .post-title h2 { color: #333; }

#content .post-title h1 a:hover {  color: #FF6666; }

#content .post-content a { color: #333; border-bottom: 1px dotted #333; }

#content .post-content p { color: #3E3E3E }

#content .post-content a:hover { color: #FF6666; border-bottom: 1px dotted #18bceb; }

#content .post-content h2, #content .post-content h3, #content .post-content h4 { color: #444; }

#content .post-content img { background: #FFF; }

/* --- Containers --- */
#content { width: 42.5rem; margin: 0 auto; padding: 0 0 4.688rem 0; margin-top: 6.25rem; }

@media (max-width: 720px) { #content { width: auto; max-width: 90%; padding-bottom: 0.1rem; margin-top: 0; } }

#content a { transition-duration: 0.3s; }

#content a:hover { transition-duration: 0.1s; }

#content .post, #content .page { padding: 3.75rem 0 1.563rem 0; margin: 0 0 0 0; width: 42.5rem; border-top: 1px solid #FFFFFF; box-shadow: 0 -1px 0 #DDDDDD; }

@media (max-width: 720px) { #content .post, #content .page { clear: both; max-width: 100%; } }

#content .post-date { font-size: 0.6875rem; line-height: 0.6875rem; text-transform: uppercase; margin-bottom: 0.3125rem; letter-spacing: 0.03125rem; }

#content .post-title { margin-bottom: 2.188rem; }

#content .post-title h1, #content .post-title h2 { margin-top: 0; font-weight: 600; letter-spacing: -1px; font-size: 2.5rem; line-height: 2.875rem; }

#content .post-content { font-size: 1.188rem; line-height: 1.813rem; margin: 0; padding: 0; }

#content p { font-size: 1.188rem; line-height: 2.25rem; margin: 0 0 2.188rem 0; padding: 0; letter-spacing: -0.00625rem; }

#content h2 { font-size: 1.75rem; line-height: 2rem; margin: 3.75rem 0 1.875rem  0; letter-spacing: -0.0625rem; }

#content h3 { font-size: 1.5rem; line-height: 1.75rem; margin: 3.125rem 0 1.25rem 0; letter-spacing: -0.0625rem; }

#content h4 { font-size: 1.25rem; line-height: 1.5rem; margin: 2.5rem 0 0.625rem 0; letter-spacing: -0.0625rem; }

#content img { max-width: 36.25rem; height: auto; padding: 0.625rem; box-shadow: 0 0 0.3125rem 0 #EEE; }

@media (max-width: 720px) { #content img { max-width: 94%; } }

#content .wp-caption { text-align: center; max-width: 100%; }

@media (max-width: 720px) { #content .wp-caption { max-width: 94%; } }

#content .wp-caption.aligncenter { margin-left: auto; margin-right: auto; }

#content .wp-caption.alignleft { float: left; margin-right: 2.5rem; }

#content .wp-caption.alignright { float: right; }

#content p.wp-caption-text { opacity: 0.5; font-size: 1rem; line-height: 1.125rem; padding: 0.3125rem 0; }

#content blockquote { font-style: italic; padding: 0 0 0 1.25rem; margin: 2.5rem 0 2.5rem 1.25rem; border-left: 1px dotted #999; letter-spacing: -0.0625rem; }

#pbd-alp-load-posts a:link, #pbd-alp-load-posts a:visited { display: block; width: 18.75rem; margin: 0 auto 6.25rem auto; text-align: center; padding: 0.625rem 0.4375rem 0.875rem 0.4375rem; border: none; background: #F5F5F5; font-size: 0.875rem; line-height: 0.875rem; color: #999; letter-spacing: 1px; text-decoration: none; text-transform: uppercase; border-top: 1px solid #FFF; border-bottom: 1px solid #E5e5e5; border-radius: 4px; }

#pbd-alp-load-posts a:hover, #pbd-alp-load-posts a:active { background-color: #FFFFFF; color: #333; }

body.single #content .post, body.page #content .page { border-top: 0; box-shadow: 0 0 0; padding-top: 0; }

@media (max-width: 720px) { body.single #content .post, body.page #content .page { padding-top: 3.75rem; } }

.return { font-size: 0.75rem; line-height: 0.75rem; text-transform: uppercase; margin-top: 3.125rem; margin-bottom: 3.125rem; }


#flex-container-title {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#flex-item-title {
  margin: auto;
  height:calc(3vw + 38px);
  width:calc(15vw + 190px);
  border-color: #FF6666;
  border-style: solid;
  border-width: calc(0.1vw + 1px);
}

#content-title {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: calc(1vw + ((38px * 2.3) / 6));
  color: #FF6666;
  font-family: "Oswald", Arial, serif; font-weight: 400;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
